@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;

    /* TYPOGRAPHY */
    /* 100% of root, desktop 4rem, mobile 2.5rem, screen 1440 - 320  */
    --h1: clamp(2.5rem, 2.143vw + 2.071rem, 4rem);

    /* 100% of root, 3rem to 2.25rem */
    --h2: clamp(2.25rem, 1.071vw + 2.036rem, 3rem);

    /* 100% of root, 2.5rem to 2rem */
    --h3: clamp(1.5rem, 1.53vw + 1.194rem, 2.5rem);

    /* 100% of root, 2rem to 1.5rem */
    --h4: clamp(1.5rem, 0.714vw + 1.357rem, 2rem);

    /* 100% of root, 1.5rem to 1.25rem */
    --h5: clamp(1.25rem, 0.357vw + 1.179rem, 1.5rem);

    /* 100% of root, 1.25rem to 1.125rem */
    --h6: clamp(1.125rem, 0.179vw + 1.089rem, 1.25rem);

    --p: 1rem;

    --pxs: 0.75rem;
  }
}

.__muted {
  @apply bg-muted/70 data-[state=on]:bg-muted/70 data-[state=on]:text-accent-foreground dark:bg-muted/100 dark:hover:bg-background data-[state=on]:dark:bg-muted/100;
}

.tree {
  list-style-type: none;
}

.tree li {
  margin: 10px 0;
}

.border-start-gray {
  border-left: 5px solid gray;
}
.border-start-java {
  border-left: 5px solid teal;
}
.border-start-carnation {
  border-left: 5px solid pink;
}
.border-start-desert-sand {
  border-left: 5px solid sandybrown;
}
.border-start-pharlap {
  border-left: 5px solid peru;
}
.border-start-neon-carrot {
  border-left: 5px solid orange;
}
